<h2 class="titulo"> Gestion de Inscripciones </h2>
<div class="container">
    <!-- FORMULARIO -->
    <div class="formulario">

        <h3> {{ editMode ? 'Editar Inscripción' : 'Nueva Inscripción' }}</h3>
                <form (ngSubmit)="save()" #enrollForm="ngForm" novalidate>
                        <input type="text" [(ngModel)]="enrollment.name" name="name" placeholder="Nombre Completo" required minlength="3" #name="ngModel">
                        <small class="error-text" *ngIf="name.invalid && name.touched">
                            <span *ngIf="name.errors?.['required']">El nombre es obligatorio.</span>
                            <span *ngIf="name.errors?.['minlength']">Mínimo 3 caracteres.</span>
                        </small>

                        <input type="text" [(ngModel)]="enrollment.course" name="course" placeholder="Curso" required minlength="2" #course="ngModel">
                        <small class="error-text" *ngIf="course.invalid && course.touched">
                            <span *ngIf="course.errors?.['required']">El curso es obligatorio.</span>
                            <span *ngIf="course.errors?.['minlength']">Mínimo 2 caracteres.</span>
                        </small>

                        <input type="date" [(ngModel)]="enrollment.date" name="date" required #date="ngModel">
                        <small class="error-text" *ngIf="date.invalid && date.touched">
                            <span *ngIf="date.errors?.['required']">La fecha es obligatoria.</span>
                        </small>

                        <button type="submit" [disabled]="enrollForm.invalid">{{editMode? 'Actualizar' : 'Inscribirse'}}</button>
                </form>
    </div>

    <!-- LISTADO -->
    <div class="lista">
        <h3> Inscripciones Registradas </h3>
        <table>
            <thead>
                <tr>
                    <th> Nombre </th>
                    <th> Curso </th>
                    <th> Fecha </th>
                    <th> Acciones </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of enrollments">
                    <td> {{ e.name }} </td>
                    <td> {{ e.course }} </td>
                    <td> {{ e.date | date }} </td>
                    <td>
                        <button (click)="edit(e)">Editar</button>
                        <button (click)="delete(e.id!) ">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
